
.underline{text-decoration:underline !important;}

.purple{
  color:purple;
  }

.marginRight67{
  margin-right: 67px;
  }
.marginRight107{
  margin-right: 107px;
  }


.marginAll0{
  margin: 0px !important;
  }
.lightGrayBg{
  background-color:rgb(243, 243, 243);
  }




/*layout*/



#layoutTemplateWrapper.spot-option{
  padding-top: 90px;
  padding-bottom: 40px;
  direction:ltr;


   td{
    border:1px solid #2b343a;
    }

  th{
    background: #2ceda3;
    text-align: center;

    }

  .marginTopBottom{
    margin-top: 10px;
    margin-bottom: 10px;
    }

  }


.logo{
  background: url('../../img/spot-option/sprite/spot_option_sprite.png') no-repeat -700px -2441px;
  width: 227px;
  height: 43px;
  margin-top:-10px;
  }


.logoCaption {
  float: left;
  min-width: 10px;
  clear: left;
  line-height: 26px;
  color: #D6D6D6;
  margin-left: 19px;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  }

.navbar{
  background:#000000;
  }


.rssContainer{


  h2{
    margin-left: 49px;
    text-decoration: underline;
    color: #00807a;
    font-family:"Verdana"
    }
  ul {
    list-style-type: none;
    width: 500px;
    }

  h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    color: #00807a;
    }

  li img {
    float: left;
    margin: 0 15px 0 0;
    }

  li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
    text-align: left;
    }

  li {
    padding: 10px;
    overflow: auto;
    }

  li:hover {
    background: #eee;
    cursor: pointer;
    }






  }













/*forms!!*/
#formWrapper{


/*form login*/
#customer , #call{
  top: 133px;
  left: 174px;
  width: 29%;
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189,0.8);
  box-shadow:
    0pt 2px 5px rgba(105, 108, 109,  0.7),
    0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;


  pre{
    width: 800px !important;
    height: 300px !important;
    }


  input:not([type="checkbox"]){
    padding-left: 38px;
    }



  li{
    width: 270px;
    color: red;
    }



  .fa-user,.fa-lock,.fa-envelope , .fa-home , .fa-phone , .fa-pencil , .fa-comment{
    position: absolute;
    top: 36px;
    left: 7px;
    }




  }//end of login



#customer{
  width: 45%;
  }





#login{
  z-index: 22;
  }


.loginMsg{
  left: 0px;
  top: -24px;
  height: 70px;
  width: 403px;
  }

.msgFromServer{
  font-weight: bold;
  color: #424242;
  top: 133px;
  left: 248px;
  width: 300px;
  position: absolute;
  z-index: 100;

  }


/**** general text styling ****/
#wrapper h1{
  font-size: 48px;
  color: rgb(6, 106, 117);
  padding: 2px 0 10px 0;
  font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
  }

/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
  background:
    -webkit-repeating-linear-gradient(-45deg,
      rgb(18, 83, 93) ,
      rgb(18, 83, 93) 20px,
      rgb(64, 111, 118) 20px,
      rgb(64, 111, 118) 40px,
      rgb(18, 83, 93) 40px);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  }

#wrapper h1:after{
  content:' ';
  display:block;
  width:100%;
  height:2px;
  margin-top:10px;
  background:
    linear-gradient(left,
      rgba(147,184,189,0) 0%,
      rgba(147,184,189,0.8) 20%,
      rgba(147,184,189,1) 53%,
      rgba(147,184,189,0.8) 79%,
      rgba(147,184,189,0) 100%);
  }


/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]) {
  width: 100%;
  margin-top: 4px;
  padding: 10px 5px 10px 32px;
  border: 1px solid rgb(178, 178, 178);
  box-sizing : content-box;
  border-radius: 3px;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  transition: all 0.2s linear;
  }


  #wrapper textarea {
  width: 100%;
  margin-top: 4px;
  padding: 10px 5px 10px 32px;
  border: 1px solid rgb(178, 178, 178);
  box-sizing : content-box;
  border-radius: 3px;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  transition: all 0.2s linear;
  }





#wrapper #register input:not([type="checkbox"]){
  padding-left: 38px;
  }
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
  border: 1px solid rgba(91, 90, 90, 0.7);
  background: rgba(238, 236, 240, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
  }


/*styling both submit buttons */
#wrapper p.button input{
  width: 30%;
  cursor: pointer;
  background: rgb(61, 157, 179);
  padding: 8px 5px;
  font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
  color: #fff;
  font-size: 24px;
  border: 1px solid rgb(28, 108, 122);
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  box-shadow:
    0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
    0px 0px 0px 3px rgb(254, 254, 254),
    0px 5px 3px 3px rgb(210, 210, 210);
  transition: all 0.2s linear;
  }
#wrapper p.button input:hover{
  background: rgb(74, 179, 198);
  }
#wrapper p.button input:active,
#wrapper p.button input:focus{
  background: rgb(40, 137, 154);
  position: relative;
  top: 1px;
  border: 1px solid rgb(12, 76, 87);
  box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
  }
p.login.button,
p.signin.button{
  text-align: right;
  margin: 5px 0;
  }


/* styling the checkbox "keep me logged in"*/
.keeplogin{
  margin-top: -5px;
  }
.keeplogin input,
.keeplogin label{
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  }
.keeplogin input#loginkeeping{
  margin-right: 5px;
  }
.keeplogin label{
  width: 80%;
  }

p.change_link{
  position: absolute;
  color: #7f7c7c;
  left: 0px;
  height: 20px;
  width: 100%;
  padding: 40px 106px 22px 30px;
  font-size: 16px;
  text-align: right;
  border-top: 1px solid #dbe5e8;
  border-radius: 0 0 5px 5px;
  background: rgb(225, 234, 235);
  background: repeating-linear-gradient(-45deg,
    rgb(247, 247, 247) ,
    rgb(247, 247, 247) 15px,
    rgb(225, 234, 235) 15px,
    rgb(225, 234, 235) 30px,
    rgb(247, 247, 247) 30px
  );


  .inner{
    top: 17px;
    left: 106px;
    }
  }
#wrapper p.change_link a {
  display: inline-block;
  font-weight: bold;
  background: rgb(247, 248, 241);
  padding: 2px 6px;
  color: rgb(29, 162, 193);
  margin-left: 10px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid rgb(203, 213, 214);
  transition: all 0.4s  linear;
  }
#wrapper p.change_link a:hover {
  color: rgb(57, 191, 215);
  background: rgb(247, 247, 247);
  border: 1px solid rgb(74, 179, 198);
  }
#wrapper p.change_link a:active{
  position: relative;
  top: 1px;
  }






//  #register{
//    z-index: 21;
//    opacity: 0;
//    }


#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
  z-index: 22;
  animation-name: fadeInLeft;
  animation-delay: .1s;
  }

.animate{
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
    }

  100% {
    opacity: 1;
    transform: translateX(0);
    }
  }

#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
  animation-name: fadeOutLeftBig;
  }

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
    }

  100% {
    opacity: 0;
    transform: translateX(-20px);
    }
  }




  /*select option div */
  .select_join {
    width: 170px;
    height: 28px;
    overflow: hidden;
    background: url('http://s24.postimg.org/lyhytocf5/dropdown.png') no-repeat right #FEFEFE;
    border: #FEFEFE 1px solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
    box-shadow: inset 0px 0px 10px 1px #FEFEFE;
    }
  .select_join select {

    background: transparent;
    width: 170px;
    font-size:7pt;
    color:grey;
    border: 0;
    border-radius: 0;
    height: 28px;
    -webkit-appearance: none;

    }
  .select_join select:focus {
    outline: none;
    }
  /*select option */








  }//form wrapper
//form end!



/*start somthing else*/

.wrapper404All{
  background:url('../../img/spot-option/404/bg.png') no-repeat center center #1d1d1d;
  color:#eee;
  font-family:Corbel,Arial,Helvetica,sans-serif;
  font-size:13px;
  position: relative;
  top: -141px;

  #rocket{
    width:275px;
    height:375px;
    background:url('../../img/spot-option/404/rocket.png') no-repeat;
    margin:140px auto 50px;
    position:relative;
    }


  .steam1,
  .steam2{
    position:absolute;
    bottom:78px;
    left:50px;
    width:80px;
    height:80px;
    background:url('../../img/spot-option/404/steam.png') no-repeat;
    opacity:0.8;
    }

  .steam2{

    /*	.steam2 shows the bottom part (dark version)
     *	of the background image.
     */

    background-position:left bottom;
    }

  hgroup{

    /* Using the HTML4 hgroup element */

    display:block;
    margin:0 auto;
    width:850px;
    font-family:'Century Gothic',Calibri,'Myriad Pro',Arial,Helvetica,sans-serif;
    text-align:center;
    }

  h1{
    color:#76D7FB;
    font-size:60px;
    text-shadow:3px 3px 0 #3D606D;
    white-space:nowrap;
    }

  h2{
    color:#9FE3FC;
    font-size:18px;
    font-weight:normal;
    padding:25px 0;
    }

  .blackDummyDiv{
    width: 100%;
    padding-top: 34px;
    height: 141px;
    background: #1d1d1d;
    position: relative;
    bottom: -141px;
    }



      }





/*table*/

table {
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
  width: 40%;
  margin: 0 auto;
  }



.bordered tr:hover {
  background: #fbf8e9;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  }

.bordered td, .bordered th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  }

.bordered th {
  background-color: #dce9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
  background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  }

.bordered td:first-child, .bordered th:first-child {
  border-left: none;
  }

.bordered th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
  }

.bordered th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
  }

.bordered th:only-child{
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  }

.bordered tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
  }

.bordered tr:last-child td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
  }



/*----------------------*/

.zebra td, .zebra th {
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
  }

.zebra tbody tr:nth-child(even) {
  background: #f5f5f5;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  }

.zebra th {
  text-align: left;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
  background-image:    -moz-linear-gradient(top, #f5f5f5, #eee);
  background-image:     -ms-linear-gradient(top, #f5f5f5, #eee);
  background-image:      -o-linear-gradient(top, #f5f5f5, #eee);
  background-image:         linear-gradient(top, #f5f5f5, #eee);
  }

.zebra th:first-child {
  -moz-border-radius:6px 0px 0px 0px;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
  }

.zebra th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
  }

.zebra th:only-child{
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  }

.zebra tfoot td {
  border-bottom: 0;
  border-top: 1px solid #fff;
  background-color: #f1f1f1;
  }

.zebra tfoot td:first-child {
  -moz-border-radius:0 0 0 6px;
  -webkit-border-radius:0 0 0 6px;
  border-radius:0 0 0 6px;
  }

.zebra tfoot td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
  }

.zebra tfoot td:only-child{
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius:0px 0px 6px 6px;

  }

/****/










